{% extends 'base.html.twig' %}

{% block title %}Attributs{% endblock %}

{% block body %}
    <h1>Attributs</h1>

    {{ include('attributes/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('attributes_index') }}">Retour à la liste</a>

    {{ include('attributes/_delete_form.html.twig') }}
{% endblock %}
