{% extends 'base.html.twig' %}

{% block title %}Attributs{% endblock %}

{% block body %}
    <h1>Créer un nouvel Attributs</h1>

    {{ include('attributes/_form.html.twig') }}

    <a href="{{ path('customers_index') }}">Retour à la liste</a>
{% endblock %}
