{% extends 'base.html.twig' %}

{% block title %}Edit Projects{% endblock %}

{% block body %}
    <h1>Edit Projects</h1>

    {{ include('projects/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('projects_index') }}">Retour à la liste</a>

    {{ include('projects/_delete_form.html.twig') }}
{% endblock %}
