{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}
    <h1>Créer un nouveau Projects</h1>

    {{ include('projects/_form.html.twig') }}

    <a href="{{ path('projects_index') }}">Retour à la liste</a>
{% endblock %}
