{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}
    <h1>Créer un Projet</h1>

    {{ include('projects/_form.html.twig') }}

    <a href="{{ path('projects_index') }}">back to list</a>
{% endblock %}
