{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
    <h1>{{customer.company}}</h1>

    {{ include('customers/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('customers_index') }}">Retour à la liste</a>

    {{ include('customers/_delete_form.html.twig') }}
{% endblock %}
