{% extends 'base.html.twig' %}

{% block title %}Edit Equipments
{% endblock %}

{% block body %}
	<h1>Modifier l'équipement</h1>

	{{ include('equipments/_form.html.twig', {'button_label': 'Modifier'}) }}

	<a href="{{ path('projects_show', {'id': equipment.project.id}) }}" class="btn">Retour au projet</a>
	{{ include('equipments/_delete_form.html.twig') }}
{% endblock %}
