{% extends 'base.html.twig' %}

{% block title %}Equipements{% endblock %}

{% block body %}
    <h1>Modifier Equipement</h1>

    {{ include('equipments/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('equipments_index') }}">Retour à la liste</a>

    {{ include('equipments/_delete_form.html.twig') }}
{% endblock %}
