{% extends 'base.html.twig' %}

{% block title %}New Equipments{% endblock %}

{% block body %}
    <h1>Créer un nouvel équipement</h1>

    {{ include('equipments/_form.html.twig') }}

    <a href="{{ path('projects_show', {'id': equipment.project.id}) }}">Retour au projet</a>
{% endblock %}
