{% extends 'base.html.twig' %}

{% block title %}Equipement{% endblock %}

{% block body %}
    <h1>Créer un nouvel equipement</h1>

    {{ include('equipments/_form.html.twig') }}

    <a href="{{ path('equipments_index') }}">Retour à la liste</a>
{% endblock %}
