#users label{
    width: 100px;
}

#customers label{
    width: 100px;
}

#projects label{
    width: 100px;
}

#equipments label{
    width: 100px;
}

#states label{
    width: 100px;
}

#actions label{
    width: 100px;
}

#conditions label{
    width: 100px;
}

#attributes label{
    width: 100px;
}