{% extends 'base.html.twig' %}

{% block title %}Edit States{% endblock %}

{% block body %}
    <h1>Modifier le statut</h1>

    {{ include('states/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('projects_show', {'id': projet.id}) }}" class="btn">Retour au projet</a>

    {{ include('states/_delete_form.html.twig') }}
{% endblock %}
