{% extends 'base.html.twig' %}

{% block title %}New States{% endblock %}

{% block body %}
    <h1>Créer un nouvel état</h1>

    {{ include('states/_form.html.twig') }}

    <a href="{{ path('projects_show', {'id': projet.id}) }}" class="btn">Retour au projet</a>
{% endblock %}
