{% extends 'base.html.twig' %}

{% block title %}Edit Actions{% endblock %}

{% block body %}
    <h1>Edit Actions</h1>

    {{ include('actions/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('actions_index') }}">back to list</a>

    {{ include('actions/_delete_form.html.twig') }}
{% endblock %}
