{% extends 'base.html.twig' %}

{% block title %}Nouvelle Actions{% endblock %}

{% block body %}
    <h1>Créer un nouvelle actions</h1>

    {{ include('actions/_form.html.twig') }}

    <a href="{{ path('actions_index') }}">Retour à la liste</a>
{% endblock %}
