{% extends 'base.html.twig' %}

{% block title %}Modifier Users{% endblock %}

{% block body %}
    <h1>Modifier Users</h1>

    {{ include('users/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('users_index') }}">back to list</a>

    {{ include('users/_delete_form.html.twig') }}
{% endblock %}
